bin
obj
csx
.vs
edge
Publish

.DS_Store
dump.rdb
.DS_Store
.github

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
