K6_WEB_DASHBOARD=true
K6_WEB_DASHBOARD_EXPORT=./out/html-report.html
rate=1
duration=1m
preAllocatedVUs=1
maxVUs=1
AUTH_BACKEND_BASE_URL=https://api-app.io.pagopa.it/session-manager
IO_BACKEND_BASE_URL=https://api-app.io.pagopa.it
IO_BACKEND_TEST_PASSWD=<password>
TEST_FISCAL_CODE=AAAAAA00A00A000A,AAAAAA00A00A000B
FEATURE_ENABLED=false
SCENARIOS=MESSAGE_DETAIL
REDIS_CONN_STRING=redis://localhost:6379

FIXTURES_ENABLED=false
SEND_MESSAGES_APIM_BASE_URL=https://api.io.pagopa.it/api/v1
SEND_MESSAGES_APIM_SUBSCRIPTION_KEYS=<your_api_key>
